$colorp:#0004ee;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    cursor: url("../src/img/cursor.svg") 10 10, auto;
}



html, body {
    background: white;
    /*scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    -webkit-touch-callout: none; /* Evita que aparezca el menú contextual al mantener presionado */
    -webkit-user-select: none;   /* Evita la selección de texto */
    -webkit-overflow-scrolling: touch; /* Suaviza el scroll */
    z-index: -999;
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
    /* Chrome, Safari y Opera */
}

html::-webkit-scrollbar {
    display: none;
    width: 0;
    /* Chrome, Safari y Opera */
}


.cursor {
    opacity: 0;
    position: fixed;
    width: 70px;
    height: 70px;
    margin-left: -37px;
    margin-top: -37px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    transition: transform 0.1s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 9999;
}

@media (max-width: 450px){
    .cursor {
        display: none;
    }
    }

.grow,
.grow-small {
    transform: scale(1.5);
    background: rgba(168, 235, 255, 0.308);
    border: 1.5px solid rgb(255, 255, 255);
}

h5 {
    display: inline-block;
}

.letter {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@font-face {
    font-family: 'Extralight';
    src: url('../src/fonts/Panchang-Extralight.woff2') format('woff2'),
        url('../src/fonts/Panchang-Extralight.woff') format('woff'),
        url('../src/fonts/Panchang-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('../src/fonts/Panchang-Light.woff2') format('woff2'),
        url('../src/fonts/Panchang-Light.woff') format('woff'),
        url('../src/fonts/Panchang-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('../src/fonts/Panchang-Regular.woff2') format('woff2'),
        url('../src/fonts/Panchang-Regular.woff') format('woff'),
        url('../src/fonts/Panchang-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('../src/fonts/Panchang-Medium.woff2') format('woff2'),
        url('../src/fonts/Panchang-Medium.woff') format('woff'),
        url('../src/fonts/Panchang-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Semibold';
    src: url('../src/fonts/Panchang-Semibold.woff2') format('woff2'),
        url('../src/fonts/Panchang-Semibold.woff') format('woff'),
        url('../src/fonts/Panchang-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Bold';
    src: url('../src/fonts/Panchang-Bold.woff2') format('woff2'),
        url('../src/fonts/Panchang-Bold.woff') format('woff'),
        url('../src/fonts/Panchang-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Extrabold';
    src: url('../src/fonts/Panchang-Extrabold.woff2') format('woff2'),
        url('../src/fonts/Panchang-Extrabold.woff') format('woff'),
        url('../src/fonts/Panchang-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Variable';
    src: url('../src/fonts/Panchang-Variable.woff2') format('woff2'),
        url('../src/fonts/Panchang-Variable.woff') format('woff'),
        url('../src/fonts/Panchang-Variable.ttf') format('truetype');
    font-weight: 200 800;
    font-display: swap;
    font-style: normal;
}