.loading {
    height: 100dvh;
    width: auto;
    background: $colorp;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow: hidden;

    .logo_loading {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        height: 2vw;

        .logoanimador {
            width: 2vw;
            height: 2vw;
        }


        .logoestatico {
            position: absolute;
            width: 2vw;
            opacity: 0%;
            height: 2vw;
        }

        #nombrelogo {
            font-family: "Extrabold";
            font-size: 21px;
            color: #ffffff;
            overflow: hidden;
            width: 0%;
            display: none;
        }

    }

    /* Contenedor de la barra de carga */
    #progress {
        position: fixed;
        left: 46.4dvw;
        top: 55%;
        width: 100px;
        height: 3px;
        background-color: #5686FF;
        overflow: hidden;

        /* Barra de progreso */
        #progressBar {
            height: 100%;
            width: 0%;
            /* Inicia en 0% */
            background-color: #ffffff;
            transition: width 0.1s ease-in-out;
            /* Suaviza el cambio de anchura */
        }
    }

    .contparrafo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        #imgparrafoinicio {
            opacity: 0%;
            width: 2vw;
        }

        .parrafodeinicio {
            font-family: "Light";
            color: #ffffff;
            font-size: 12px;
            padding: 0% 28% 0% 28%;
            text-align: center;
        }
    }

    .bottoninicio {
        position: absolute;
        bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        text-decoration: none;

        p {
            font-family: "Regular";
            font-size: 12px;
            color: #ffffff;

        }
    }

    .contactnav{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 3vh;
        right: 3vh;
        gap: 10px;
        width: auto;
        height: 3vw;

        .bottoniniciocontact {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            text-decoration: none;
            background: #ffffff;
            padding: 10px 20px;
            border-radius: 40px;
            width: 100%;

            .cont_txt_botoncontact{
                overflow: hidden;
                width: 100%;
                color: $colorp;
            }

            .flechabotoncontact{
                width: 1vw;
            }
    
        }

        .bottoniniciocontact:hover{

            box-shadow:
            0em 0em 1em rgba(0, 0, 0, 0.3);
            p{
                font-family: Medium;
            }

        }
    
        .audio-container {
            text-align: center;
        }
    
        #audio-button {
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            border: 4px solid white;
            border-radius: 25px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            #wave-svg {
                width: 100%;
                height: 100%;
            }
        
            #wave-path {
                fill: none;
                stroke: $colorp;
                stroke-width: 4;
    
            }
    
        }
        #audio-button:hover{
            box-shadow:
            0em 0em 1em rgba(0, 0, 0, 0.3); 
            #wave-path {
                fill: $colorp;
                stroke-width: 7;
    
            }
        }

        .cont_menu{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: max-content;
            .cont_boton_menu{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background: #ffffff;
                lottie-player{
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }

}