.loading {
    height: 100dvh;
    width: auto;
    background: $colorp;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow: hidden;


    .logo_loading {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .logoanimador {
            width: 2vw;
        }


        .logoestatico {
            top: 0;
            position: absolute;
            width: 2vw;
            opacity: 0%;
        }

        .nombrelogo {
            font-family: "Extrabold";
            font-size: 21px;
            color: #ffffff;
            display: inline-block;
            overflow: hidden;

            .letter {
                display: inline-block;
                transform: translateY(100%);
                opacity: 0;
                transition: transform 0.5s ease, opacity 0.5s ease;
            }
        }

    }

    /* Contenedor de la barra de carga */
    #progress {
        position: fixed;
        left: 46.4dvw;
        top: 55%;
        width: 100px;
        height: 3px;
        background-color: #5686FF;
        overflow: hidden;

        /* Barra de progreso */
        #progressBar {
            height: 100%;
            width: 0%;
            /* Inicia en 0% */
            background-color: #ffffff;
            transition: width 0.1s ease-in-out;
            /* Suaviza el cambio de anchura */
        }
    }


    .animatedTitle {
        margin-top: 5vh;
        font-family: "Extrabold";
        color: #ffffff;
        font-size: 21.5vw;
        white-space: nowrap;
        display: flex;
        overflow: hidden;
        line-height: 80%;

    }

    #animatedTitle span {
        display: inline-block;
        transform: translateY(100%);
        /* Inicialmente fuera de vista (eje Y 100%) */
    }
    .contparrafo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .imgparrafoinicio{
            width: 2vw;
        }
        .parrafodeinicio{
            font-family: "Light";
            color: #ffffff;
            font-size: 12px;
            padding: 0% 30% 0% 30%;
            text-align: center;
        }
    }

    .bottoninicio{
        position: absolute;
        bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        text-decoration: none;
        
        p{
            font-family: "Regular";
            font-size: 12px;
            color: #ffffff;

        }
    }

    .bottoniniciocontact{
        position: absolute;
        top: 3vh;
        right: 3vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        background: #ffffff;
        padding: 10px 20px;
        border-radius: 40px;

        
        p{
            font-family: "Regular";
            font-size: 12px;
            color: $colorp;

        }

    }

}