$colorp: #0004ee;
$fondoboto: #eff3ff;

.contenedorproyecto {

    /* CONTENEDOR DE TRANSICION */
    #transition {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        pointer-events: none;

        /* No bloquear interacción */
        svg {
            width: 100%;
            height: 100%;
        }
    }

    #gif-overlay {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        display: none;

        /* oculto hasta que aparezca */
        img {
            max-width: 40px;
            /* ajusta tamaño */
            max-height: 40px;
        }
    }

    /* INICIO DE PAGINA */

    .barra_nav {
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1vw 1vw 1vw 1vw;
        justify-content: space-between;

        a {}

        .cont_menu {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .boton_contact {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 10px 20px 10px 20px;
                background-color: $fondoboto;
                border-radius: 30px;
                font-family: "Medium";
                font-size: 12px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $colorp;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: darken($fondoboto, 5%);
                    transform: scale(1.05);
                }
            }
        }

        .contd_menu {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            .cont_boton_menu {
                display: flex;
                border-radius: 100%;
                border: 3px solid #eff3ff;
                overflow: hidden;
                width: 100%;
                background: $fondoboto;
                justify-content: center;
                align-items: center;


                #menu-button {
                    width: 2vw;
                    height: 2vw;
                    z-index: 1000;
                    cursor: pointer;
                    border-radius: 100%;
                    background: $fondoboto;
                }
            }

            .cont_boton_menu:hover {
                box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.247);
            }

        }

        eff3ff .magnetic-button {
            transition: transform 0.2s ease;
            will-change: transform;
        }

        /* Comienza oculto */
        #nav-menu {
            position: fixed;
            top: 5vh;
            right: 5vh;
            width: 3vw;
            height: 3vw;
            background-color: #ffffff00;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            transition: all 0.5s cubic-bezier(0.68, -0.2, 0.27, 1);
            border-radius: 0%;
            overflow: hidden;



            .contlistmenu {
                position: absolute;
                list-style: none;
                padding: 0;
                margin: 0;
                top: 20%;
                left: 15%;

                p {
                    text-decoration: none;
                    font-size: 18px;
                    opacity: 100%;
                    font-family: "Regular";
                    color: #c0c0c0;
                    font-size: 0.9vw;
                    opacity: 0%;
                }

                li {
                    margin: 15px 0;

                    a {
                        text-decoration: none;
                        font-size: 18px;
                        opacity: 0%;

                    }


                }

            }

            .contsocial {
                position: absolute;
                list-style: none;
                padding: 0;
                margin: 0;
                bottom: 5%;
                left: 15%;
                display: flex;
                flex-direction: column;
                width: 60%;
                opacity: 0%;

                p {
                    text-decoration: none;
                    font-size: 18px;
                    opacity: 100%;
                    font-family: "Regular";
                    color: #c0c0c0;
                    font-size: 0.9vw;
                    opacity: 100%;
                }

                .list_social {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    li {
                        margin: 15px 0;

                        a {

                            text-decoration: none;
                            opacity: 100%;
                            font-family: "Medium";
                            color: #000000;
                            font-size: 0.9vw;
                            width: 100%;

                        }
                    }
                }
            }
        }

        /* Clase para mostrar el menú */
        #nav-menu.show {
            top: 0vh;
            right: 0vh;
            width: 50dvw;
            height: 100dvh;
            right: 0;
            box-shadow: -50vw 0px 5px 0px rgba(0, 0, 0, 0.082);
            border-radius: 0;
            background-color: #ffffff;

            /* Desliza el menú hacia dentro */
            .contlistmenu {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;

                p {
                    text-decoration: none;
                    font-size: 18px;
                    opacity: 100%;
                    font-family: "Regular";
                    color: #c0c0c0;
                    font-size: 0.9vw;
                    opacity: 100%;
                }

                li {
                    margin: 15px 0;

                    a {
                        text-decoration: none;
                        font-size: 18px;
                        opacity: 100%;
                        font-family: "Medium";
                        color: #999999;
                        font-size: 2.2vw;
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                    }

                    .char {
                        display: inline-block;
                        transform: translateY(100%);
                        opacity: 0;
                    }

                }


                li:hover {

                    a {
                        color: #0066ff;
                    }
                }
            }

            .contsocial {
                position: absolute;
                list-style: none;
                padding: 0;
                margin: 0;
                bottom: 5%;
                left: 15%;
                display: flex;
                flex-direction: column;
                width: 60%;
                opacity: 100%;

                p {
                    text-decoration: none;
                    font-size: 18px;
                    opacity: 100%;
                    font-family: "Regular";
                    color: #c0c0c0;
                    font-size: 0.9vw;
                    opacity: 100%;
                }

                .list_social {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    li {
                        margin: 15px 0;

                        a {

                            text-decoration: none;
                            opacity: 100%;
                            font-family: "Medium";
                            color: #000000;
                            font-size: 0.9vw;
                            width: 100%;
                            position: relative;
                            overflow: hidden;

                        }

                        .char {
                            display: inline-block;
                            transform: translateY(100%);
                            opacity: 0;
                        }
                    }
                }
            }


        }

        .hidden {
            display: none;
        }


    }

    .section_uno {
        padding-top: 7%;
        width: 100%;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .cont_titulo {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .data {

                font-family: "Regular";
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #0048ff;
            }

            .tituloproyecto {
                padding-bottom: 10vh;
                font-family: "Extrabold";
                font-size: 10vw;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.67;
                letter-spacing: -0.25px;
                text-align: center;
                color: #0048ff;
            }

            .parrafo {
                padding-left: 30vw;
                padding-right: 30vw;
                font-family: "Regular";
                font-size: 12px;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #0048ff;
            }
        }
    }


}