@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  cursor: url("../src/img/cursor.svg") 10 10, auto;
}

html, body {
  background: white;
  z-index: -999;
  height: 100dvh;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
  /* Chrome, Safari y Opera */
}

html::-webkit-scrollbar {
  display: none;
  width: 0;
  /* Chrome, Safari y Opera */
}

#scroll-content::-webkit-scrollbar {
  display: none;
  width: 0;
  /* Chrome, Safari y Opera */
}

.cursor {
  opacity: 0;
  position: fixed;
  width: 70px;
  height: 70px;
  margin-left: -37px;
  margin-top: -37px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  transition: transform 0.1s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 9999;
}

@media (max-width: 450px) {
  .cursor {
    display: none;
  }
}
.grow,
.grow-small {
  transform: scale(1.5);
  background: rgba(168, 235, 255, 0.308);
  border: 1.5px solid rgb(255, 255, 255);
}

h5 {
  display: inline-block;
}

.letter {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@font-face {
  font-family: "Extralight";
  src: url("../src/fonts/Panchang-Extralight.woff2") format("woff2"), url("../src/fonts/Panchang-Extralight.woff") format("woff"), url("../src/fonts/Panchang-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Light";
  src: url("../src/fonts/Panchang-Light.woff2") format("woff2"), url("../src/fonts/Panchang-Light.woff") format("woff"), url("../src/fonts/Panchang-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Regular";
  src: url("../src/fonts/Panchang-Regular.woff2") format("woff2"), url("../src/fonts/Panchang-Regular.woff") format("woff"), url("../src/fonts/Panchang-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Medium";
  src: url("../src/fonts/Panchang-Medium.woff2") format("woff2"), url("../src/fonts/Panchang-Medium.woff") format("woff"), url("../src/fonts/Panchang-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Semibold";
  src: url("../src/fonts/Panchang-Semibold.woff2") format("woff2"), url("../src/fonts/Panchang-Semibold.woff") format("woff"), url("../src/fonts/Panchang-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Bold";
  src: url("../src/fonts/Panchang-Bold.woff2") format("woff2"), url("../src/fonts/Panchang-Bold.woff") format("woff"), url("../src/fonts/Panchang-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Extrabold";
  src: url("../src/fonts/Panchang-Extrabold.woff2") format("woff2"), url("../src/fonts/Panchang-Extrabold.woff") format("woff"), url("../src/fonts/Panchang-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Variable";
  src: url("../src/fonts/Panchang-Variable.woff2") format("woff2"), url("../src/fonts/Panchang-Variable.woff") format("woff"), url("../src/fonts/Panchang-Variable.ttf") format("truetype");
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}
.scroll-contents {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.scroll-contents #scroll-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.scroll-contents #scroll-content .scrollbar-track {
  display: none !important;
}
.scroll-contents #scroll-content #contenedor {
  height: 100dvh;
  overflow: hidden;
}
.scroll-contents #scroll-content #contenedor #contenedor.fijo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  /* Asegura que esté sobre otros elementos */
  background: #fff;
  /* Ajusta el fondo según necesites */
}
.scroll-contents #scroll-content #contenedor .loading {
  overflow: hidden;
  height: 100%;
  /* Ocupará todo el alto del body */
  width: auto;
  background: #0004ee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  /* Contenedor de la barra de carga */
}
.scroll-contents #scroll-content #contenedor .loading #cortina {
  opacity: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0004ee;
  z-index: 2;
}
.scroll-contents #scroll-content #contenedor .loading .logo_loading {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  height: 2vw;
  z-index: 1000;
}
.scroll-contents #scroll-content #contenedor .loading .logo_loading .logoanimador {
  width: 2vw;
  height: 2vw;
}
.scroll-contents #scroll-content #contenedor .loading .logo_loading .logoestatico {
  position: absolute;
  width: 2vw;
  opacity: 0%;
  height: 2vw;
}
.scroll-contents #scroll-content #contenedor .loading .logo_loading #nombrelogo {
  font-family: "Extrabold";
  font-size: 21px;
  color: #ffffff;
  overflow: hidden;
  width: 0%;
  display: none;
}
.scroll-contents #scroll-content #contenedor .loading #progress {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 3px;
  background-color: #5686FF;
  overflow: hidden;
  z-index: 3;
  /* Barra de progreso */
}
.scroll-contents #scroll-content #contenedor .loading #progress #progressBar {
  height: 100%;
  width: 0%;
  /* Inicia en 0% */
  background-color: #ffffff;
  transition: width 0.1s ease-in-out;
  /* Suaviza el cambio de anchura */
}
.scroll-contents #scroll-content #contenedor .loading .contparrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 3;
}
.scroll-contents #scroll-content #contenedor .loading .contparrafo #imgparrafoinicio {
  opacity: 0%;
  width: 2vw;
  z-index: 3;
}
.scroll-contents #scroll-content #contenedor .loading .contparrafo #parrafodeinicio {
  font-family: "Extralight";
  color: #ffffff;
  font-size: 12px;
  padding: 0% 28% 0% 28%;
  text-align: center;
  opacity: 0%;
  z-index: 3;
  font-weight: 600;
}
.scroll-contents #scroll-content #contenedor .loading .bottoninicio {
  position: absolute;
  bottom: -45vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 1000px;
  z-index: 3;
  background: #ffffff;
  width: 30vh;
  height: 30vh;
  justify-items: center;
  align-items: center;
}
.scroll-contents #scroll-content #contenedor .loading .bottoninicio .onda {
  position: absolute;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.363);
  animation: expandir 3s infinite ease-out;
  z-index: -5;
}
.scroll-contents #scroll-content #contenedor .loading .bottoninicio .onda:nth-child(2) {
  animation-delay: 0.5s;
}
.scroll-contents #scroll-content #contenedor .loading .bottoninicio .onda:nth-child(3) {
  animation-delay: 1s;
}
@keyframes expandir {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.scroll-contents #scroll-content #contenedor .loading .bottoninicio p {
  font-family: "Medium";
  font-size: 10px;
  color: #0004ee;
  font-weight: 600;
  padding-bottom: 18vh;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 3vh;
  right: 3vh;
  gap: 10px;
  width: auto;
  height: 3vw;
  opacity: 0%;
  z-index: 3;
  /* Comienza oculto */
  /* Clase para mostrar el menú */
}
.scroll-contents #scroll-content #contenedor .loading .contactnav .bottoniniciocontact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 40px;
  width: 100%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav .bottoniniciocontact .cont_txt_botoncontact {
  overflow: hidden;
  width: 100%;
  color: #0004ee;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav .bottoniniciocontact .flechabotoncontact {
  width: 1vw;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav .bottoniniciocontact:hover {
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
}
.scroll-contents #scroll-content #contenedor .loading .contactnav .bottoniniciocontact:hover p {
  font-family: Medium;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav .cont_boton_menu {
  display: flex;
  border-radius: 100%;
  border: 3px solid white;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: #ffffff;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav .cont_boton_menu #menu-button {
  z-index: 1000;
  cursor: pointer;
  border-radius: 100%;
  background: #ffffff;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav .cont_boton_menu:hover {
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.247);
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu {
  position: fixed;
  top: 5vh;
  right: 5vh;
  width: 3vw;
  height: 3vw;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.68, -0.2, 0.27, 1);
  border-radius: 100%;
  overflow: hidden;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu .contlistmenu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 20%;
  left: 15%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu .contlistmenu p {
  text-decoration: none;
  font-size: 18px;
  opacity: 100%;
  font-family: "Regular";
  color: #c0c0c0;
  font-size: 0.9vw;
  opacity: 0%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu .contlistmenu li {
  margin: 15px 0;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu .contlistmenu li a {
  text-decoration: none;
  font-size: 18px;
  opacity: 0%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu .contsocial {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  bottom: 5%;
  left: 15%;
  display: flex;
  flex-direction: column;
  width: 60%;
  opacity: 0%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu .contsocial p {
  text-decoration: none;
  font-size: 18px;
  opacity: 100%;
  font-family: "Regular";
  color: #c0c0c0;
  font-size: 0.9vw;
  opacity: 100%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu .contsocial .list_social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu .contsocial .list_social li {
  margin: 15px 0;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu .contsocial .list_social li a {
  text-decoration: none;
  opacity: 100%;
  font-family: "Medium";
  color: #000000;
  font-size: 0.9vw;
  width: 100%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show {
  top: 0vh;
  right: 0vh;
  width: 50dvw;
  height: 100dvh;
  right: 0;
  box-shadow: -50vw 0px 5px 0px rgba(0, 0, 0, 0.082);
  border-radius: 0;
  background-color: #ffffff;
  /* Desliza el menú hacia dentro */
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contlistmenu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contlistmenu p {
  text-decoration: none;
  font-size: 18px;
  opacity: 100%;
  font-family: "Regular";
  color: #c0c0c0;
  font-size: 0.9vw;
  opacity: 100%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contlistmenu li {
  margin: 15px 0;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contlistmenu li a {
  text-decoration: none;
  font-size: 18px;
  opacity: 100%;
  font-family: "Medium";
  color: #999999;
  font-size: 2.2vw;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contlistmenu li .char {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contlistmenu li:hover a {
  color: #0066ff;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contsocial {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  bottom: 5%;
  left: 15%;
  display: flex;
  flex-direction: column;
  width: 60%;
  opacity: 100%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contsocial p {
  text-decoration: none;
  font-size: 18px;
  opacity: 100%;
  font-family: "Regular";
  color: #c0c0c0;
  font-size: 0.9vw;
  opacity: 100%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contsocial .list_social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contsocial .list_social li {
  margin: 15px 0;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contsocial .list_social li a {
  text-decoration: none;
  opacity: 100%;
  font-family: "Medium";
  color: #000000;
  font-size: 0.9vw;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav #nav-menu.show .contsocial .list_social li .char {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}
.scroll-contents #scroll-content #contenedor .loading .contactnav .hidden {
  display: none;
}
.scroll-contents #scroll-content #contenedor .loading .audio-container {
  text-align: center;
  position: absolute;
  bottom: 3vh;
  right: 3vh;
  opacity: 0%;
  z-index: 3;
}
.scroll-contents #scroll-content #contenedor .loading #audio-button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 4px solid white;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.scroll-contents #scroll-content #contenedor .loading #audio-button #wave-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 8vw;
  /* Duplica el tamaño para que la onda se repita */
  height: 100%;
  animation: moveWave 6s linear infinite;
  /* Movimiento horizontal continuo */
}
@keyframes moveWave {
  0% {
    transform: translateX(-0.2vw);
  }
  100% {
    transform: translateX(-5.5vw);
    /* Desplaza una longitud del SVG */
  }
}
.scroll-contents #scroll-content #contenedor .loading #audio-button #wave-path {
  fill: none;
  stroke: #0077ff;
  stroke-width: 1.5;
}
.scroll-contents #scroll-content #contenedor .loading #audio-button:hover {
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
}
.scroll-contents #scroll-content #contenedor .loading #audio-button:hover #wave-path {
  fill: none;
  stroke-width: 2;
}
.scroll-contents #scroll-content #contenedor .loading #scene-container {
  overflow: hidden;
  width: 100vw;
  height: 100dvh;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  align-items: end;
}
.scroll-contents #scroll-content #contenedor .loading #scene-container #tituloescena {
  position: absolute;
  z-index: 2;
  font-family: "Regular";
  color: #ffffff;
  font-size: 0.8vw;
  text-align: center;
  opacity: 100%;
  width: 100%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 25px rgba(255, 255, 255, 0.6);
}
.scroll-contents #scroll-content #contenedor .loading #scene-container #lottie-container {
  position: absolute;
  bottom: -0.5vw;
  left: 42.5%;
  width: 15%;
  pointer-events: none;
  /* Evitar que interfiera con los clics */
  z-index: 0;
}
.scroll-contents #scroll-content #contenedor .cont-proyectos {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  z-index: 1;
}
.scroll-contents #scroll-content #contenedor .cont-proyectos .subtitulo-proyecto {
  font-family: "regular";
  font-size: 1.7vw;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(0, 0, 0, 0.5);
}
.scroll-contents #scroll-content #contenedor .cont-proyectos .tituloproyecto {
  font-family: "bold";
  font-size: 5vw;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26), -2px -2px 10px rgba(0, 0, 0, 0.26);
}
.scroll-contents #scroll-content #contenedor .cont-proyectos .letter-wrapperp {
  display: inline-block;
  overflow-y: hidden;
}
.scroll-contents #scroll-content #contenedor .cont-proyectos .letterp {
  display: inline-block;
  transform: translateY(100px);
}