@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; /* Importante para manejar tamaños correctamente */
}

body {
  background: white;
}

.loading {
  height: 100dvh;
  width: auto;
  background: #0048FF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
  /* Contenedor de la barra de carga */
}
.loading .logo_loading {
  position: absolute;
}
.loading .logo_loading .logoanimador {
  width: 3vw;
}
.loading .logo_loading .logoestatico {
  top: 0;
  position: absolute;
  width: 3vw;
  opacity: 0%;
}
.loading #progress {
  position: fixed;
  left: 46.4dvw;
  top: 55%;
  width: 100px;
  height: 3px;
  background-color: #5686FF;
  overflow: hidden;
  /* Barra de progreso */
}
.loading #progress #progressBar {
  height: 100%;
  width: 0%;
  /* Inicia en 0% */
  background-color: #ffffff;
  transition: width 0.1s ease-in-out;
  /* Suaviza el cambio de anchura */
}